<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <!--rubric65-->
  <!--User shall see a link to the home page-->

  <!--rubric69-->
  <!--Clicking the home page link should take the user to the home
      page-->
  <a class="navbar-brand" [routerLink]="['/']">Grocery Cloud <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader" aria-controls="navbarTogglerHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerHeader">
    <ul class="navbar-nav ml-auto">
      <!--rubric66-->
      <!--User shall see a link to the shopping page-->

      <!--rubric70-->
      <!--Clicking the shopping page link should take the user to the
          shopping page-->
      <li class="nav-item text-right"  [routerLinkActive]='["link-active"]'>
        <a class="nav-link" [routerLink]="['/shopping']">Shop All</a>
      </li>
      <li class="nav-item text-right">
        <span class="fas fa-circle navbar-text mt-2 sep"></span>
      </li>
      <!--rubric67-->
      <!--User shall see a link to the cart page-->

      <!--rubric71-->
      <!--Clicking the cart page link should take the user to the cart page-->
      <li class="nav-item text-right" [routerLinkActive]="['link-active']">
        <a class="nav-link" [routerLink]="['/cart']"><span class="fas fa-shopping-cart"></span></a>
      </li>
    </ul>
  </div>
</nav>