
<div class="image-section">
  <div class="bgimg-1">
    <div class="caption">
      <span class="border">GROCERY CLOUD</span>
    </div>
  </div>
</div>
<div class="image-section">
  <div class="bgimg-2">
    <div class="caption">
      <span class="border">THE BEST FRUIT ON THE MARKET</span>
    </div>
  </div>
</div>
<div class="text-primary-about">
  <h3>Grocery Cloud</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada tristique gravida. Pellentesque venenatis nisi nec auctor tempor. Proin nec enim justo. Etiam consequat at purus vel placerat. Sed egestas faucibus tellus commodo aliquam. Nam eget libero consectetur, venenatis lacus ut, dignissim libero. Morbi consectetur, lorem a elementum pretium, quam risus consectetur urna, non pretium ligula enim at tellus. Duis efficitur justo ac sodales lobortis. Fusce vel justo nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
  <p>
    Fusce rhoncus libero faucibus dolor aliquam, ut auctor ligula consectetur. Aenean sodales dignissim justo. Maecenas in posuere leo. Nam suscipit lacus et dapibus posuere. Praesent interdum tortor et est volutpat scelerisque. Mauris vel nunc lacus. Nullam lobortis viverra mollis. Nullam dapibus velit id diam hendrerit tempor et in metus.
  </p>
</div>
<div class="image-section">
  <div class="bgimg-3">
    <div class="caption">
      <span class="border">FULL RESPECT FOR TRADITION</span>
    </div>
  </div>
</div>
<div class="text-secondary-about">
  <div>
    <p>
      Buy the best products on the planet.
    </p>
  </div>
</div>
<div class="image-section">
  <div class="bgimg-4">
    <div class="caption">
      <span class="border">500,000 Customers Worldwide</span>
    </div>
  </div>
</div>
<div class="text-secondary-about">
  <div>
    <p>
      Some of our best buy products
    </p>
  </div>
</div>
<div class="d-flex flex-row justify-content-around align-items-center flex-wrap my-5">
  <img src="{{prod.imagelink}}" class="image-thumbnail" alt="{{prod.description}}" *ngFor="let prod of topProducts" />
</div>
<div class="image-section">
  <div class="bgimg-5">
    <div class="caption">
      <span class="border">EXPLORE ALL OUR ORGANIC FOOD PRODUCTS</span>
    </div>
  </div>
</div>
<div class="image-section">
  <div class="bgimg-6">
    <div class="caption">
      <span class="border">A RICH VARIETY OF SELECTIONS</span>
    </div>
  </div>
</div>
<div class="image-section">
  <div class="bgimg-7">
    <div class="caption">
      <span class="border">BUY SAFELY ON OUR SITE</span>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-12 col-md-4 my-2">
    <img src="./image-11.jpg" class="image-thumbnail d-block mx-auto" alt="Our agricultural products from the best crops" />
  </div>
  <div class="col-12 col-md-8 my-2">
    YOUR SAISFACTION IS OUR PASSION.
    <p>
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec dignissim, lacus ac semper vehicula, ligula massa volutpat leo, non viverra orci augue nec ipsum. Cras mi risus, luctus ut egestas sed, ultrices ut augue. Duis eget eros at leo varius aliquam commodo eu nunc. Nunc et sem et quam auctor eleifend et id nibh. Mauris venenatis vestibulum libero non interdum. Vivamus imperdiet pellentesque risus, sed placerat nunc pellentesque sit amet. Nunc ut sodales quam. Phasellus congue ipsum et turpis cursus tempor. Pellentesque congue mi eget magna lobortis condimentum. Pellentesque vel sapien pharetra, egestas magna ut, ultrices turpis. In a libero nibh.
    </p>
  </div>
</div>