<p>
  contact works!
</p>
<div class="row">
  <div class="col">
    <form class="needs-validation" (ngSubmit)="contactUs()" [formGroup]="form">
      <div class="form-group" *ngFor="let key of modelKeys">
        <input class="form-control" 
          [ngClass]="{
            'is-valid': !form.controls[key].invalid,
            'is-invalid': form.controls[key].invalid
          }"
          placeholder="Enter {{key | stringHumanize}} Here" 
          formControlName="{{key}}"
          *ngIf="key!=='subject' && key!=='message'" />
        <select class="custom-select" 
          [ngClass]="{
            'is-valid': !form.controls[key].invalid,
            'is-invalid': form.controls[key].invalid
          }"
          formControlName="{{key}}" *ngIf="key==='subject'">
          <option value="">-- Select Subject --</option>
          <option value="{{i}}" *ngFor="let subj of subjects; index as i">
            {{subj}}
          </option>
        </select>
        <textarea class="form-control"
          [ngClass]="{
            'is-valid': !form.controls[key].invalid,
            'is-invalid': form.controls[key].invalid
          }"
          placeholder="Enter {{key | stringHumanize}} Here" 
          rows="10"
          formControlName="{{key}}" *ngIf="key==='message'"></textarea>

        <div class="invalid-feedback">
          Please provide a valid {{key | stringHumanize | lowercase}}
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Send Message</button>
    </form>
  </div>
  <div class="col">
    <div>
      Have questions about Grocery Cloud? Feel free to contact us!
    </div>
    <div>
      Email: grocerycloud@outlook.com
    </div>
    <div>
      Phone: 123-456-7890
    </div>
  </div>
</div>
