// rubric79
// CSS used for site styling. No inline CSS permitted and no styling
// of HTML elements directly. 

.thumbnail {
    max-width: 4vw;
    height: 4vh;
    object-fit: cover;
    object-position: center;
}

.item-qty {
    width: 6em;
}